<button {{action 'showModalOne'}}>Show modal</button>
<button {{action 'showModalTwo'}}>Show modal with controller</button>
<button {{action 'showModalThree'}}>Show modal with model</button>
<button {{action 'showModalFour'}}>Show modal with controller and model</button>
<button {{action 'showModalFive'}}>Show modal with no template</button>
